on:
  push:
    branches:
      - main

name: Notify on Push
permissions:
  contents: read

jobs:
  notify_on_push:
    name: Notify on any direct push to `main`
    if: >
      github.repository == 'nodejs/web-team' &&
      github.actor != 'github-merge-queue[bot]'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: ./actions/notify-on-push
        with:
          webhook: ${{ secrets.SLACK_WEBHOOK }}
